footer#footer_area
  .container
    .row
      .col-lg-3.col-md-6.col-sm-6.col-12
        .footer_heading_area
          h5 Besoin de nous?
        .footer_first_area
          .footer_inquery_area
            h5 Envoyez un email à notre support
            h3
              a(href='mailto:support@pulpito.com') support@pulpito.com
      .col-lg-2.offset-lg-1.col-md-6.col-sm-6.col-12
        .footer_heading_area
          h5 Nous
        .footer_link_area
          ul
            li
              a(href='about.html') À propos de nous
            li
              a(href='testimonials.html') Témoignages clients
            li
              a(href='faqs.html') FAQ
            li
              a(href='terms-service.html') CGV
            li
              a(href='news.html') Blog
      .col-lg-2.col-md-4.col-sm-6.col-12
        .footer_heading_area
          h5 Support
        .footer_link_area
          ul
            li
              a(href='dashboard.html') Compte
            li
              a(href='faq.html') FAQ
            li
              a(href='testimonials.html') Témoignages Client
            li
              a(href='contact.html') Contact
            li
              a(href='privacy-policy.html') Vie privée
.copyright_area
  .container
    .row.align-items-center
      .co-lg-6.col-md-6.col-sm-12.col-12
        .copyright_left
          p Copyright © 2022 Webaddikt SL - Tous droits réservés
      .co-lg-6.col-md-6.col-sm-12.col-12
        .copyright_right
          img(src='assets/img/common/cards.png' alt='img')
.go-top
  i.fas.fa-chevron-up
  i.fas.fa-chevron-up