
header.main_header_arae
  //-  Top Bar 
  //- .topbar-area
  //-  .container
   
            
  //  Navbar Bar 
  .navbar-area
    .main-responsive-nav
      .container
        .main-responsive-menu
          .logo
            a(href='/')
              img(src='assets/img/poulpe.png' alt='logo')
    .main-navbar
      .container
        nav.navbar.navbar-expand-md.navbar-light
          a.navbar-brand(href='/')
            img(src='assets/img/poulpe.png' alt='logo')
          .collapse.navbar-collapse.mean-menu#navbarSupportedContent
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/') Accueil
              li.nav-item
                a.nav-link(href='/search') Rechercher une destination                


//  Common Banner Area 
section#common_banner_custom
  .container
    .row
      .col-lg-12
        .common_bannner_text
          h2 Bienvenue sur Pulpito