//  Form Area 
section#theme_search_form_tour.fligth_top_search_main_form_wrapper(disabled=true)
  .container
    .row
      .col-lg-12
        .theme_search_form_area
          .row
            .col-lg-12
              .row
                .col-lg-12
                  .flight_categories_search
                    ul.nav.nav-tabs(role='tablist')
                      li.nav-item(role='presentation')
                        button.nav-link.active#oneway-tab(data-bs-toggle='tab' data-bs-target='#oneway_flight' type='button' role='tab' aria-controls='oneway_flight' aria-selected='true') Aller
                      li.nav-item(role='presentation')
                        button.nav-link#roundtrip-tab(data-bs-toggle='tab' data-bs-target='#roundtrip' type='button' role='tab' aria-controls='roundtrip' aria-selected='false') Aller/Retour
                      li.nav-item(role='presentation')
                        button.nav-link#multi_city-tab(data-bs-toggle='tab' data-bs-target='#multi_city' type='button' role='tab' aria-controls='multi_city' aria-selected='false') Plusieurs origines
              .tab-content#myTabContent1
                //- Tab Oneway/"Aller" ==> disabled at the moment. When we reactivate, be careful since the inputs for number of passengers have the same name and stuff, and it could collide for the $().on() jquery instructions for adding and substracting passengers on Multicity/"Plusieurs origines" tab. 
                  .tab-pane.fade.show.active#oneway_flight(role='tabpanel' aria-labelledby='oneway-tab')
                    .row
                      .col-lg-12
                        .oneway_search_form
                          form(action='#!')
                            .row
                              .col-lg-3.col-md-6.col-sm-12.col-12
                                .flight_Search_boxed
                                  p From
                                  input(type='text' value='New York')
                                  span JFK - John F. Kennedy International...
                                  .plan_icon_posation
                                    i.fas.fa-plane-departure
                              .col-lg-3.col-md-6.col-sm-12.col-12
                                .flight_Search_boxed
                                  p To
                                  input(type='text' value='London ')
                                  span LCY, London city airport 
                                  .plan_icon_posation
                                    i.fas.fa-plane-arrival
                                  .range_plan
                                    i.fas.fa-exchange-alt
                              .col-lg-4.col-md-6.col-sm-12.col-12
                                .form_search_date
                                  .flight_Search_boxed.date_flex_area
                                    .Journey_date
                                      p Journey date
                                      input(type='date' value='2022-05-05')
                                      span Thursday
                              .col-lg-2.col-md-6.col-sm-12.col-12
                                .flight_Search_boxed.dropdown_passenger_area
                                  p Passenger, Class
                                  .dropdown
                                    button.dropdown-toggle.final-count#dropdownMenuButton1(data-toggle='dropdown' type='button' data-bs-toggle='dropdown' aria-expanded='false').

                                      0 Passenger

                                    .dropdown-menu.dropdown_passenger_info(aria-labelledby='dropdownMenuButton1')
                                      .traveller-calulate-persons
                                        .passengers
                                          h6 Passengers
                                          .passengers-types
                                            .passengers-type
                                              .text
                                                span.count.pcount 2
                                                .type-label
                                                  p Adult
                                                  span 12+ yrs
                                              .button-set
                                                button.btn-add(type='button')
                                                  i.fas.fa-plus
                                                button.btn-subtract(type='button')
                                                  i.fas.fa-minus
                                            .passengers-type
                                              .text
                                                span.count.ccount 0
                                                .type-label
                                                  p.fz14.mb-xs-0.

                                                    Children

                                                  span 2 - Less than 12 yrs
                                              .button-set
                                                button.btn-add-c(type='button')
                                                  i.fas.fa-plus
                                                button.btn-subtract-c(type='button')
                                                  i.fas.fa-minus
                                            .passengers-type
                                              .text
                                                span.count.incount 0
                                                .type-label
                                                  p.fz14.mb-xs-0.

                                                    Infant

                                                  span Less than 2 yrs
                                              .button-set
                                                button.btn-add-in(type='button')
                                                  i.fas.fa-plus
                                                button.btn-subtract-in(type='button')
                                                  i.fas.fa-minus
                                        .cabin-selection
                                          h6 Cabin Class
                                          .cabin-list
                                            button.label-select-btn(type='button')
                                              span.muiButton-label.
                                                Economy

                                            button.label-select-btn.active(type='button')
                                              span.muiButton-label.

                                                Business

                                            button.label-select-btn(type='button')
                                              span.MuiButton-label First Class 
                                  span Business
                              .top_form_search_button
                                button.btn.btn_theme.btn_md Search
                //- Tab Return/"Aller/Retour" 
                  .tab-pane.fade#roundtrip(role='tabpanel' aria-labelledby='roundtrip-tab')
                    .row
                      .col-lg-12
                        .oneway_search_form
                          form(action='#!')
                            .row
                              .col-lg-3.col-md-6.col-sm-12.col-12
                                .flight_Search_boxed
                                  p From
                                  input(type='text' value='New York')
                                  span JFK - John F. Kennedy International...
                                  .plan_icon_posation
                                    i.fas.fa-plane-departure
                              .col-lg-3.col-md-6.col-sm-12.col-12
                                .flight_Search_boxed
                                  p To
                                  input(type='text' value='London ')
                                  span LCY, London city airport 
                                  .plan_icon_posation
                                    i.fas.fa-plane-arrival
                                  .range_plan
                                    i.fas.fa-exchange-alt
                              .col-lg-4.col-md-6.col-sm-12.col-12
                                .form_search_date
                                  .flight_Search_boxed.date_flex_area
                                    .Journey_date
                                      p Journey date
                                      input(type='date' value='2022-05-05')
                                      span Thursday
                                    .Journey_date
                                      p Return date
                                      input(type='date' value='2022-05-08')
                                      span Saturday
                              .col-lg-2.col-md-6.col-sm-12.col-12
                                .flight_Search_boxed.dropdown_passenger_area
                                  p Passenger, Class
                                  .dropdown
                                    button.dropdown-toggle.final-count#dropdownMenuButton1(data-toggle='dropdown' type='button' data-bs-toggle='dropdown' aria-expanded='false').

                                      0 Passenger

                                    .dropdown-menu.dropdown_passenger_info(aria-labelledby='dropdownMenuButton1')
                                      .traveller-calulate-persons
                                        .passengers
                                          h6 Passengers
                                          .passengers-types
                                            .passengers-type
                                              .text
                                                span.count.pcount 2
                                                .type-label
                                                  p Adult
                                                  span 12+ yrs
                                              .button-set
                                                button.btn-add(type='button')
                                                  i.fas.fa-plus
                                                button.btn-subtract(type='button')
                                                  i.fas.fa-minus
                                            .passengers-type
                                              .text
                                                span.count.ccount 0
                                                .type-label
                                                  p.fz14.mb-xs-0.

                                                    Children

                                                  span 2 - Less than 12 yrs
                                              .button-set
                                                button.btn-add-c(type='button')
                                                  i.fas.fa-plus
                                                button.btn-subtract-c(type='button')
                                                  i.fas.fa-minus
                                            .passengers-type
                                              .text
                                                span.count.incount 0
                                                .type-label
                                                  p.fz14.mb-xs-0.

                                                    Infant

                                                  span Less than 2 yrs
                                              .button-set
                                                button.btn-add-in(type='button')
                                                  i.fas.fa-plus
                                                button.btn-subtract-in(type='button')
                                                  i.fas.fa-minus
                                        .cabin-selection
                                          h6 Cabin Class
                                          .cabin-list
                                            button.label-select-btn(type='button')
                                              span.muiButton-label.
                                                Economy

                                            button.label-select-btn.active(type='button')
                                              span.muiButton-label.

                                                Business

                                            button.label-select-btn(type='button')
                                              span.MuiButton-label First Class 
                                  span Business
                            .top_form_search_button
                              button.btn.btn_theme.btn_md Rechercher
                  
                .tab-pane.fade#multi_city(role='tabpanel' aria-labelledby='multi_city-tab')
                  .row
                    .col-lg-12
                      .oneway_search_form
                        form(action='/common', method='post')
                          .multi_city_form_wrapper
                            .multi_city_form
                              .row
                                .col-lg-6.col-md-6.col-sm-12.col-12
                                  .form_search_date
                                    .flight_Search_boxed.date_flex_area
                                      .Journey_date
                                        p Aller
                                        input(type='date',required,name='departureDate',value='2022-12-16')
                                        span TODO? Jeudi
                                      .Journey_date
                                        p Retour
                                        input(type='date',required,name='returnDate',value='2022-12-18')
                                        span TODO? Samedi
                            - var flyFroms = ['MAD','PAR','LYS']
                            each flyFrom, i in flyFroms 
                              .multi_city_form(data-origins-index=`${i}`)
                                .row
                                  .col-lg-6.col-md-6.col-sm-12.col-12
                                    .flight_Search_boxed
                                      p De
                                      input(type='text',required,name='origins[][flyFrom]',value=`${flyFrom}`,maxlength=3)
                                      span=`TODO? ${flyFrom}`
                                      .plan_icon_posation
                                        i.fas.fa-plane-departure
                                  .col-lg-6.col-md-6.col-sm-12.col-12
                                    .flight_Search_boxed.dropdown_passenger_area
                                      p Passagers
                                      .dropdown
                                        button.dropdown-toggle.final-count#dropdownMenuButton1(data-toggle='dropdown' type='button' data-bs-toggle='dropdown' aria-expanded='false').

                                          1 Passagers

                                        .dropdown-menu.dropdown_passenger_info(aria-labelledby='dropdownMenuButton1')
                                          .traveller-calulate-persons
                                            .passengers
                                              h6 Passagers
                                              .passengers-types
                                                .passengers-type
                                                  .text
                                                    input.count.pcount(type='number',readonly,required,name='origins[][adults]',value=1) 
                                                    .type-label
                                                      p Adultes
                                                      span 12+ ans
                                                  .button-set
                                                    button.btn-add(type='button')
                                                      i.fas.fa-plus
                                                    button.btn-subtract(type='button')
                                                      i.fas.fa-minus
                                                .passengers-type
                                                  .text
                                                    input.count.ccount(type='number',readonly,required,name='origins[][children]',value=0) 
                                                    .type-label
                                                      p.fz14.mb-xs-0.

                                                        Enfants

                                                      span 2 - 11 ans
                                                  .button-set
                                                    button.btn-add-c(type='button')
                                                      i.fas.fa-plus
                                                    button.btn-subtract-c(type='button')
                                                      i.fas.fa-minus
                                                .passengers-type
                                                  .text
                                                    input.count.incount(type='number',readonly,required,name='origins[][infants]',value=0) 
                                                    .type-label
                                                      p.fz14.mb-xs-0.

                                                        Bébés

                                                      span 0 - 2 ans
                                                  .button-set
                                                    button.btn-add-in(type='button')
                                                      i.fas.fa-plus
                                                    button.btn-subtract-in(type='button')
                                                      i.fas.fa-minus
                          .row
                            .col-lg-12
                              .add_multy_form
                                button#addMulticityRow(type='button') + Ajouter un point de départ
                          .top_form_search_button
                            button.btn.btn_theme.btn_md Rechercher