extends base

block content 

  include _search-form-template

  script(src="assets/js/axios.min.js")
  script(src='assets/js/pulpito-autocomplete.js')                     
                      
            