extends base

block content 

  include _search-form-template

  script(defer src="assets/js/axios.min.js")
  script(defer src='assets/js/pulpito-autocomplete.js')
  script(defer src='assets/js/pulpito-form.js')
  script(defer src='assets/js/pulpito.js')