.flight_inner_show_component .arrow_left {
  flex-basis: 88px;
  margin: 4px 1rem 0px;
  background-image: url('../img/icon/plane-right-blue.png');
  background-repeat: no-repeat;
  background-position: 50% center;
  text-align: center;
  min-height: 24px;
  min-width: 24px;
  background-size: 24px;
  transform: rotate(180deg);
}

.flight_inner_show_component .flight_duration {
  width: 75px;
  margin-right: 10px;
}

.flight_duration p {
  font-size: 12px;
  line-height: 15px;
}

.airline-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.airline-details h3 {
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 1400px) {
  .airline-details h3 {
    width: 130px;
  }
}

.TabPanelInner p {
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 16px;
}

.flight_inner_show_component .flight_det_wrapper {
  width: 125px;
}

.flight_show_down_wrapper {
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1399px) {
  .flight_show_down_wrapper {
    display: inherit;
  }
}

@media (max-width: 1440px) {
  .flight_Search_boxed input {
    font-size: 22px;
    width: 87%;
  }
}

@media (max-width: 992px) {
  .flight_Search_boxed input {
    font-size: 18px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .flight_Search_boxed input {
    font-size: 18px;
    width: 77%;
  }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  /*display: inline-block;*/
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.filter_results {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* link for navigating between results pages */
a.btn_navigation {
  color: var(--main-color);
  border: none;
  background: transparent;
  padding: 5px 5px 5px 5px;
}

.sort_results span {
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

#common_banner_custom {
  background-color: #cccccc;
  padding: 150px 0 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.flight_inner_show_component_container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

@media (max-width: 770px) {
  .flight_inner_show_component_container {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
  }
}
.flight_show_down_wrapper_header {
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}
.flight_show_down_wrapper_header .airline-details {
  width: 130px;
}
.flight_show_down_wrapper_header .flight_inner_show_component {
  width: 325px;
}

@media (max-width: 1399px) {
  .flight_show_down_wrapper_header {
    display: none;
  }
}

.flight_search_right .numbers {
  display: flex;
  align-items: center;
}

.flight_search_right h4 {
  padding-top: 10px;
  padding-left: 10px;
  color: var(--paragraph-color);
}

.flight_search_items {
  cursor: pointer;
}

@media (max-width: 425px) {
  .dropdown_passenger_area .dropdown-menu.show {
    transform: none !important;
  }
  .dropdown_passenger_area .dropdown-menu {
    min-width: 250px;
  }
}

.tour_search_type {
  padding-bottom: 20px;
}

.filter-price {
  padding-bottom: 64px;
}

.tour_search_type .form-check {
  padding-top: 7px;
}

.flight_search_right {
  background: #e2fbd3;
}

.flight_Search_boxed {
  background: #e2fbd3;
}

.common_bannner_text .description {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
  color: var(--paragraph-color);
}

@media (min-width: 1200px) {
  .common_bannner_text .description {
    max-width: 960px;
    margin: 0 auto;
  }
}

.common_bannner_text .description p:last-child {
  margin-top: 15px;
}

/** Overwriting template colors **/
:root {
  --main-color: #409d24;
}

.common_bannner_text h2 {
  color: var(--main-color);
  padding-bottom: 40px;
}

.common_banner_text .topbar-others-options li a {
  color: var(--black-color);
}

.topbar-others-options li a:hover {
  color: var(--main-color) !important;
}

.main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--black-color);
}

@media only screen and (max-width: 1199px) {
  .navbar-area {
    background-color: var(--bg-color);
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 1199px) {
  .main-responsive-nav .mean-container a.meanmenu-reveal span {
    display: block;
    background-color: var(--main-color);
    height: 2px;
    margin-top: -6px;
    border-radius: 5px;
    position: relative;
    top: 8px;
  }
}

#common_banner_custom {
  background-color: var(--bg-color);
}

#theme_search_form_tour {
  margin-top: 0px;
}

.theme_search_form_area {
  padding-top: 80px;
}
